<div class="center hero-unit">

<h1>Welcome to Aejaz's page </h1>
<p> This is Aejaz's creation: </p>
<p>
	<%= link_to "Sign Up", "http://www.google.com", class: "btn btn-primary btn-large" %>

</p>
</div>
